.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
HomeAutomation.xcodeproj/project.xcworkspace/xcuserdata
HomeAutomation.xcodeproj/xcuserdata/juka.xcuserdatad
HomeAutomationKit/.swiftpm/xcode/xcuserdata
HomeAutomationKit/.build
xcuserdata
.env
